
body{
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: 100%;
  background: #ffffff ;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}

.wrapper{
  height: 100%;
  width: 50%;
  background: #7c7c7c;
  overflow: hidden;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 2px solid black;
}

.sliding{
  position: absolute;
  top: 50%;
  white-space: nowrap;
  font-size: 12em;
  line-height: 220px;
  overflow: hidden;
  font-family: arial black;
  animation: animate 20s linear infinite;
}

@keyframes animate{
  0%{
    transform: translate(0, -50%);
  }
  100%{
    transform: translate( -50% ,50%);
  }
}

