:root {
  --blue: #4284f4;
  --red: #eb4236;
  --yellow: #fcbc05;
  --green: #34a854;
  --size: 2.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
}

.google-loader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--size);
  transform: translateY(-50%);
}

.dot {
  background-color: grey;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  animation: ani 1s ease-in-out infinite alternate forwards;
}

.blue {
  background-color: var(--blue);
  animation-delay: 0.2s;
}
.red {
  background-color: var(--red);
  animation-delay: 0.4s;
}
.yellow {
  background-color: var(--yellow);
  animation-delay: 0.6s;
}
.green {
  background-color: var(--green);
  animation-delay: 0.8s;
}

@keyframes ani {
  to {
transform: translateY(1.2rem);
  }
}
