@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    margin: 0;
    padding: 0;
    background:#2c2c2c;
}

section{
    width: 100%;
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.testimonial {
    width:350px;
    display:inline-block;
    margin: 20px 20px;
    transition: .5s;
    align-items: center;
}
.testimonial:hover{
    transform: translateY(-20px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.testimonial .card {
    position:relative;
    overflow:hidden;
    width:350px;
    margin:0 auto;
    background:#2c2c2c;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 10px 40px rgba(0,0,0,.5);
}
.testimonial .card .layer {
    z-index:1;
    position:absolute;
    top: 0;
    left: 99.5%;
    height:100%;
    width:100%;
    background:linear-gradient(to bottom right ,#13f1fc, #0470dc);
    transition:0.5s;
}
.testimonial .card:hover  .layer{
    left: 0;
}
.testimonial .card .content {
    z-index:2; 
    position:relative;
}
.testimonial .card .content p {
    font-size:14px;
    line-height:24px;
    color:#fff;
}
.testimonial .card .content .image {
    width:100px;
    height:100px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border: 3px solid white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    transition: .5s;
}
.testimonial:hover .card .content .details h2{
    color: white;
}
.testimonial .card .content .details h2 {
    font-size:30px;
    color:#2391ff;
    transition:0.5s;
}
.testimonial .card .content .details h2 span {
    font-size:18px;
    color:#13f1fc;
    transition:0.5s;
}
.testimonial .card:hover .content .details h2 span {
    color:white;
    position:relative;
}