body{
  margin: 0;
  padding: 0;
}

section{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img{
  width: 100%;
}

.section img{
width: 100%;
}

section::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
mix-blend-mode: hue;
animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background: #f00;
  }
  20% {
    background: #ff0;
  }
  40% {
    background: #f0f;
  }
  60% {
    background: #0ff;
  }
  80% {
    background: #0f0;
  }
  100% {
    background: #f00;
  }
}